@media screen and (max-width: 1200px){
	.container {  
    width: 704px;   /*шапка планшетная*/
}
	header{
		top:47px; /*шапка планшетная*/
	}
	footer .container {  /*подвал сайта*/
    padding: 64px 92px;
	box-sizing: border-box;
	}
	footer h3{
	margin: -16px 0 32px;	
	}
	footer p {
	width: 336px; 
	margin: 0;
	}
	footer button { /*кнопка в подвале*/
    margin-top: -115px;
    width: 134px;
    height: 32px;
	}
	footer ol {
		flex-direction: column;
		height:130px;
	}
	footer li {
		flex-basis: 26px;
	}
		footer li br {
			display: none;
			padding-left: 59px;
	}
}